<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Edit</title>
	<link rel="stylesheet" type="text/css" href="../../css/styles.css">
  <!-- <link rel="stylesheet" href="/css/styles.css">  -->
</head>
<body>
 <h1>Edit Project Page</h1>

    <!-- <form method="POST" action="/probono"> -->
      <form action="/probono/<%=project.id%>?_method=PUT" method="POST" >
      <fieldset>
        <label for="projectName"> Project Name:</label>
        <input id="projectName" type="text" name="projectName" placeholder="Enter Project Name">
      </fieldset>
      <fieldset>
        <label for="projectDescription"> Project Description</label>
        <input id="projectDescription" type="text" name="projectDescription" placeholder="Enter Project Description">
      </fieldset>
      <fieldset>
        <label for="dateSubmitted"> Date Submitted</label>
        <input id="dateSubmitted" type="text" name="dateSubmitted" placeholder="Enter Project Submission Date">
      </fieldset>
       <fieldset>
        <label for="datePlaced"> Date Placed:</label>
        <input id="datePlaced" type="text" name="datePlaced" placeholder="Enter Project Placement Date">
      </fieldset>
      <fieldset>
        <label for="firmName"> Firm Name:</label>
        <input id="firmName" type="text" name="firmName" placeholder="Enter Firm Name">
      </fieldset>
      <fieldset>
        <label for="introductionsMade"> IntroductionsMade:</label>
        <input id="introductionsMade" type="text" name="introductionsMade" placeholder="True/False">
      </fieldset>
      <fieldset>
        <label for="projectStatus"> Project Status:</label>
        <input id="projectStatus" type="text" name="projectStatus" placeholder="current/available/current">
      </fieldset>
       <fieldset>
        <label for="legalAgreement"> Legal Agreement:</label>
        <input id="legalAgreement" type="text" name="legalAgreement" placeholder="put here">
      </fieldset>
       <fieldset>
        <label for="thankYouLetter"> Thank You Letter:</label>
        <input id="thankYouLetter" type="text" name="thankYouLetter" placeholder="put here">
      </fieldset>
      <!-- Plan to make Project Status as radio buttons or checkbox. Will Make the legal agreement and ty letter able to accept a file, like a PDF 1 pager -->

      <!-- Need to add in internal and external contacts here -->
      <!-- <fieldset>
        <label for="internalContacts"> Internal Contacts:</label>
        <input id="internalContacts" type="text" name="internalContacts" placeholder="Name Here">
      </fieldset> -->

    <button>Add the project information</button>
    </form>
  
</body>
</html>