<!DOCTYPE html>
<html lang="en">
<head>
  <title>Index Page</title>
<!-- <link rel="stylesheet" href="styles.css" type="text/css" /> -->
  <link rel="stylesheet" href="/css/styles.css"> 

</head>
<body>
  <h1> Pro bono Projects - Home Page  </h1>

   <!-- <a href="/probono/new">Add a new Project</a> -->
   <form action="/probono/new"><button>Add New Project</button></form>
  <div class="container">
    <table>
      <% for (let i = 0; i < project.length; i++) { %>
        <tr>
        
        <td><a href="/probono/<%=project[i].id%>" class=""><%= project[i].projectName %></a></td> 
          <td>Firm Name: <%= project[i].firmName%></td>
          <td>Project Status: <%= project[i].projectStatus %></td>
        </tr>
        <% } %>
        </table>
    </div>
</body>
</html>