<!DOCTYPE html>
<html lang="en">
<head>
  <title>Index Page</title>
<!-- <link rel="stylesheet" href="styles.css" type="text/css" /> -->
  <link rel="stylesheet" href="/css/styles.css"> 

</head>
<body>
  <h1> Pro bono Projects Manager</h1>

  <!-- <div>
      <button class="sortName-button">Sort by Name</button>
      <button class="">Sort by Status</button>
  </div> -->
   <form action="/probono/new"><button class="index-button">Add New</button>
  <div class="container box">
    <table>
      <% for (let i = 0; i < project.length; i++) { %>
        <tr>
        
        <td class="project-name-href"><a href="/probono/<%=project[i].id%>" class=""><%= project[i].projectName %></a></td> 
          <td>Firm Name: <%= project[i].firmName%></td>
          <td>Project Status: <%= project[i].projectStatus %></td>
        </tr>
        <% } %>
        </table>
    </div>
    </form>
</body>
</html>