<!DOCTYPE html>
<html lang="en">
<head>
  <title>Index Page</title>
<!-- <link rel="stylesheet" href="styles.css" type="text/css" /> -->
  <link rel="stylesheet" href="/css/styles.css"> 

</head>
<body>
<header>
<h1 class="h1-index"> Pro bono Projects Manager</h1>
  <form action="/probono/new">

<button class="index-button">+</button>
</header>
<!-- <h1> Pro bono Projects Manager</h1> -->
  <div class="container box">

    <!-- if add button is clicked then do the following adding of table rows  -->
    <table>
      <!-- table row with table headers -->
      <tr>
        <th>Project Name</th><th>Firm Name</th><th>Project Status</th>
      </tr>
          <!-- start of for loop, this is what adds a project when the Add Button is clicked -->
      <% for (let i = 0; i < project.length; i++) { %>
      <tr>
        <td class="project-name-href"><a href="/probono/<%=project[i].id%>" class=""><%= project[i].projectName %></a>
        </td> 
      <!-- 2nd table date in row -->
        <td><%= project[i].firmName%>
        </td>
      <!-- 3rd table date in row -->
        <td><span class="status-text"><%= project[i].projectStatus %></span>
            <% if (project[i].projectStatus == 'available') { %>
            <td class="dot-color-green"></td>
          <% } else if(project[i].projectStatus == 'current') { %>
              <td class="dot-color-yellow"></td>
          <% } else if(project[i].projectStatus == 'complete') { %>
              <td class="dot-color-red"></td>
          <% } %> 
        </td>
      </tr>
        <% } %>
        </table> 
    </div>
    </form>
</body>
</html>