<!DOCTYPE html>
<html lang="en">
<head>
  <title>Index Page</title>
<!-- <link rel="stylesheet" href="styles.css" type="text/css" /> -->
  <link rel="stylesheet" href="/css/styles.css"> 

</head>
<body>
  <h1> Pro bono Projects - Home Page  </h1>

   <!-- <a href="/probono/new">Add a new Project</a> -->
  
  <ul>
     <ul>
      <% for (let i = 0; i < project.length; i++) { %>
        <br>
        <li>
        <a href="/probono/<%=project[i].id%>" class=""><%= project[i].projectName %>  </a> </br>
          Firm Name: <%= project[i].firmName%> </br>
          Project Status: <%= project[i].projectStatus %> </br>

        </li>
        <% } %>
    </ul>
    <form action="/probono/new">
    <button>Add New Project</button>
</body>
</html>
