<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Ejs Page</title>

<!-- <link rel="stylesheet" href="/styles.css" type="text/css" /> -->
  <link rel="stylesheet" href="/css/styles.css"> 

  </head>
  <body>
    <!-- <a href="/probono">Back to the HOME PAGE</a> -->
    <h1>New Project Page</h1>
    <form method="POST" action="/probono">
<div class="new-page-container">
      <fieldset>
        <label for="projectName"> Project Name*:</label>
        <input id="projectName" type="text" name="projectName" placeholder="Enter Project Name" required>
      </fieldset>
      <br>
      <fieldset>
        <label for="projectDescription"> Project Description*:</label> </br>
        <textarea id="projectDescription" type="text" name="projectDescription" placeholder="Enter Project Description" required cols="30" rows="10"></textarea>
        <!-- <input id="projectDescription" type="text" name="projectDescription" placeholder="Enter Project Description" required> -->
      </fieldset>
      <fieldset>
        <label for="dateSubmitted"> Date Submitted*:</label>
        <input id="dateSubmitted" type="text" name="dateSubmitted" placeholder="Enter Project Submission Date" required>
      </fieldset>
      <fieldset>
        <label for="datePlaced"> Date Placed:</label>
        <input id="datePlaced" type="text" name="datePlaced" placeholder="Enter Project Placement Date">
      </fieldset>
      <fieldset>
        <label for="firmName"> Firm Name:</label>
        <input id="firmName" type="text" name="firmName" placeholder="Enter Firm Name or None">
      </fieldset>
      <fieldset>
        <label for="introductionsMade"> IntroductionsMade:</label>
      <select name="introductionsMade" id="introductionsMade">
        <option value="no">No</option>
        <option value="yes">Yes</option>
        <option value="soon">Soon</option>
        </select>
      </fieldset>
      <fieldset>
        <label for="projectStatus"> Project Status:</label>
        <select name="projectStatus" id="projectStatus">
        <option value="available">Available</option>
        <option value="current">Current</option>
        <option value="complete">Complete</option>
        </select>
      </fieldset>
      <fieldset>
        <label for="legalAgreement"> Legal Agreement:</label>
        <input id="legalAgreement" type="text" name="legalAgreement" placeholder="Yes or No">
      </fieldset>
      <fieldset>
        <label for="thankYouLetter"> Thank You Letter:</label>
        <input id="thankYouLetter" type="text" name="thankYouLetter" placeholder="Yes or No">
      </fieldset>
      <!-- How to add input here with the embedded schema? -->
      <fieldset>
        <label for="staffName"> Staff Name:</label>
        <input id="staffName" type="text" name="staffName" placeholder="Staff Name Here">
      </fieldset>
      <fieldset>
        <label for="staffEmail"> Staff Email:</label>
        <input id="staffEmail" type="text" name="staffEmail" placeholder="Staff Email Here">
      </fieldset>
    <button class="new-button myButton">Add Project</button>
    </form>
    </div>
    <form action="/probono">
    <button class="home-button">Home Page</button>
    </form>
  </body>
</html>