<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Ejs Page</title>

<!-- <link rel="stylesheet" href="/styles.css" type="text/css" /> -->
  <link rel="stylesheet" href="/css/styles.css"> 

  </head>
  <body>
    <h1>New Project Page</h1>

    <form method="POST" action="/probono">
      <fieldset>
        <label for="projectName"> Project Name:</label>
        <input id="projectName" type="text" name="projectName" placeholder="Enter Project Name">
      </fieldset>
      <fieldset>
        <label for="projectDescription"> Project Description</label>
        <input id="projectDescription" type="text" name="projectDescription" placeholder="Enter Project Description">
      </fieldset>
      <fieldset>
        <label for="dateSubmitted"> Date Submitted</label>
        <input id="dateSubmitted" type="text" name="dateSubmitted" placeholder="Enter Project Submission Date">
      </fieldset>
       <fieldset>
        <label for="datePlaced"> Date Placed:</label>
        <input id="datePlaced" type="text" name="datePlaced" placeholder="Enter Project Placement Date">
      </fieldset>
    <button>Add the project information</button>
    </form>
  </body>
</html>

<!-- Will add, as I edit index page
     
      <fieldset>
        <label for="firmName"> Firm Name:</label>
        <input id="firmName" type="text" name="firmName" placeholder="Enter Firm Name">
      </fieldset>
      <fieldset>
        <label for="introductionsMade"> Introductions Made:</label>
        <input id="introductionsMade" type="text" name="introductionsMade" placeholder="Yes/No">
      </fieldset>
      <fieldset>
       <label for="externalContacts"> External Contacts:</label>
        <input id="externalContacts" type="text" name="externalContacts" placeholder="Enter an external contact">
      </fieldset>
      <fieldset>
       <label for="internalContacts"> Internal Contacts:</label>
        <input id="internalContacts" type="text" name="internalContacts" placeholder="Enter a contact">
      </fieldset>
      <fieldset>
        <label for="projectStatus"> Project Status:</label>
        <input id="projectStatus" type="text" name="projectStatus" placeholder="Enter Project Status">
      </fieldset>
      <fieldset>
        <label for="legalAgreement"> Legal Agreement Document:</label>
        <input id="legalAgreement" type="text" name="legalAgreement" placeholder="Attach Legal Agreement">
      </fieldset>
      <fieldset>
        <label for="thankYouLetter"> Thank You Letter:</label>
        <input id="thankYouLetter" type="text" name="thankYouLetter" placeholder="Attach Thank You Letter">
      </fieldset>
</html> -->

