 </head>
  <body>
    <h1>New Projects Input Page</h1>

    <form method="POST" action="/probono">
      <fieldset>
        <label for="projectName"> Project Name:</label>
        <input id="projectName" type="text" name="projectName" placeholder="Enter Project Name">
      </fieldset>
      <fieldset>
        <label for="projectDescription"> Project Description:</label>
        <input id="projectDescription" type="text" name="projectDescription" placeholder="Enter Project Description">
        <!-- look into changing this into a bigger comment type box with text limit -->
      </fieldset>
      <fieldset>
        <label for="dateSubmitted"> Date Submitted:</label>
        <input id="dateSubmitted" type="text" name="dateSubmitted" placeholder="Enter Project Submission Date">
      </fieldset>
      <fieldset>
        <label for="datePlaced"> Date Placed:</label>
        <input id="datePlaced" type="text" name="datePlaced" placeholder="Enter Project Placement Date">
      </fieldset>
      <fieldset>
        <label for="firmName"> Firm Name:</label>
        <input id="firmName" type="text" name="firmName" placeholder="Enter Firm Name">
      </fieldset>
      <fieldset>
        <label for="introductionsMade"> Introductions Made:</label>
        <input id="introductionsMade" type="text" name="introductionsMade" placeholder="Yes/No">
        <!-- later add checkbox or radio buttons -->
      </fieldset>
      <fieldset>
       <label for="externalContacts"> External Contacts:</label>
        <input id="externalContacts" type="text" name="externalContacts" placeholder="Enter an external contact">
        <!-- research how to format for nested schema-->
      </fieldset>
      <fieldset>
       <label for="internalContacts"> Internal Contacts:</label>
        <input id="internalContacts" type="text" name="internalContacts" placeholder="Enter a contact">
        <!-- research how to format for nested schema-->
      </fieldset>
      <fieldset>
        <label for="projectStatus"> Project Status:</label>
        <input id="projectStatus" type="text" name="projectStatus" placeholder="Enter Project Status">
        <!-- Add dropdown or radio buttons -->
      </fieldset>
      <fieldset>
        <label for="legalAgreement"> Legal Agreement Document:</label>
        <input id="legalAgreement" type="text" name="legalAgreement" placeholder="Attach Legal Agreement">
        <!-- Add the ability to store a pdf/word doc in the  -->
      </fieldset>
      <fieldset>
        <label for="thankYouLetter"> Thank You Letter:</label>
        <input id="thankYouLetter" type="text" name="thankYouLetter" placeholder="Attach Thank You Letter">
        <!-- Add the ability to store a pdf/word doc in the  -->
      </fieldset>
  </body>
</html>