@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  background-color: #EBEBEB;
  background-image: url("/css/background.jpg");
  margin: 0;
  font-family: montserrat, arial, verdana;
  
}

h1{
  font-size: 40px;
  text-align: center;
}

.h1-index{
  font-size: 40px;
  text-align: center;
  transform: translate(-10%, 90%);
  color:white;
}

table{
  font-size: 20px;
   margin-left: auto;
  margin-right: auto;
  line-height: 1;
   border-collapse:separate; 
  border-spacing: 1.5em 1em;
}

/* tr{
 border-bottom:1px solid black; 
} */

td, th{
   padding: 15px;
   text-align: center;
}
th{
text-transform:uppercase;
color: #085869;
 
}
td{
  color: #B97A50;
  
}

/* show page */

h3{
text-align: left;
 margin-left: 550px;
}

 button {
  background-color:#f8f8ff;
  border: none;
  color: black;
  /* padding: 15px 32px; */
  /* text-align: center; */
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  /* width: 150px; */
  /* border: 2px solid black; */
  border-radius: 5px;
}

.edit-button, .new-button{
  position: fixed;
  top: 105%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

.submit-new-button{
   background-color:#f8f8ff;
  border: none;
  color: black;
  /* padding: 15px 32px; */
  /* text-align: center; */
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
  /* border: 2px solid black; */
  border-radius: 5px;
}

form{
  text-align: center;
}

/* index page */
.index-container {
  /* background-color: #D5ECD7; */
  background-color: #A1CECB;
  width: 800px;
  margin: 50px;
  /* height: 550px; */
  /* margin: auto; */
  margin-top: 50px;
  margin-left:250px;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  /* position: relative; */
    /* padding-top: 150px; */

}

.box{
      box-shadow: 0 0 15px 1px rgb(0 0 0 / 40%);
}

a {
  text-decoration: none;
  height: 10px;
  cursor: pointer;
  color: white;
  /* unvisited link */
}


.index-button{
  transform: translate(500%, -50%);
  top: 10rem;
  /* right: 7rem; */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #D5ECD7;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 40%);
  font-size: 30px;
}
.sortName-button{
  transform: translate(800%, 102%);
  position: fixed;
  top: 0;
  /* right: 7rem; */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #C4C6E7;
  text-align: center;
  display: inline;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 40%);
}

.project-name-href{
  /* background-color: #C4C6E7; */
  background-color: #FFA188;
  /* box-shadow: 0 0 10px 1px rgb(0 0 0 / 40%); */
  border-radius: 30px;
  text-transform: capitalize;
  text-decoration: none;
}

/* .dot-color{
  background-color: rgb(235, 230, 230);
  border-radius: 50%;
    width: 15px;
    height: 15px;
} */

.dot-color-red{
  background-color: #ff6961;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.dot-color-yellow{
  background-color: #FCFC69;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.dot-color-green{
  background-color: #28A228;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.dot-color-red-show{
  background-color: #ff6961;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.dot-color-yellow-show{
  background-color: #FCFC69;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.dot-color-green-show{
  background-color: #28A228;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}


.dot-show{
  transform: translate(170%, -100%);

}


fieldset {
  border: none;
  color: black;
  /* background: #C4C6E7; */
  font-size: 1.5em;
  padding: 5px;
}

.show-page-container, .new-page-container, .edit-page-container{
  background-color: #B9DFBB;
  width: 800px;
  margin: 50px;
  /* height: 550px; */
  margin: auto;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between
}

.project-segments-1{
  width: 200px;
  height: 150px;
  /* border: 5px solid red;
  background: pink; */
}
.project-segments-2{
  /* width: 250px; */
  /* border: 5px solid blue; */
  background-color: #F0ECBC;
  border-radius: 30px;
}
.project-segments-3{
  width: 300px;
  border: 5px solid purple;}

.project-segments-4{
  width: 400px;
  border: 5px solid orange;
}

.project-show-para{
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
}
h4{
  font-size: 20px;
  text-align: center;
  margin: 0;
}

p{
  text-align: center;
}

.status-text{
    text-transform:capitalize;

}

header{
  width: 100%;
  /* border: 7px solid #e3caea; */
  /* background-color: #C4C6E7; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); */
  background-color: #A1CECB;
  /* height: 20%; */
  /* position: fixed;
  padding-top: 50px; */
  padding-top: 5px;
}